doctype html
html
  head
    title TP2 - Auth
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css")
  body(class="bg-gray-100 min-h-screen flex flex-col items-center justify-center")
    main(class="w-full max-w-xl bg-white p-6 rounded-lg shadow-lg")
      block content
